<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="card" style="width: 18rem;">
        <img src="{%static 'AppJuegos/assets/a.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>   

    {% for n in juegos%}
         
    <p style="color:red ;">Nombre = {{n.nombre}}</p>
    <p>Desarrollador = {{n.desarrollador}}</p>
    <p style="color:red ;">Genero = {{n.genero}}</p>
    <p>Lanzamiento = {{n.lanzamiento}}</p>
    <p style="color:red ;">Puntuacion = {{n.puntuacion}}</p>

    {% endfor %}
    
</body>
</html>