{% extends "padre.html" %}

{%load static%}



{% block contenido %}



         <h1>pag de reviews</h1>

         <div class="card" style="width: 18rem;">
            <img src="{%static 'AppJuegos/assets/monkey island 2.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Monkey Island 2</h5>
              <p class="card-text">Monkey Island 2 es un juego de aventura (point and click) desarrollado por LucasArts y distribuido por LucasArts para Amiga. La fecha de lanzamiento de este videojuego es el 10 de mayo de 1991.</p>
              <a href="#" class="btn btn-primary">Leer mas</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{%static 'AppJuegos/assets/monkey island 2.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Monkey Island 2</h5>
              <p class="card-text">Monkey Island 2 es un juego de aventura (point and click) desarrollado por LucasArts y distribuido por LucasArts para Amiga. La fecha de lanzamiento de este videojuego es el 10 de mayo de 1991.</p>
              <a href="#" class="btn btn-primary">Leer mas</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{%static 'AppJuegos/assets/monkey island 2.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Monkey Island 2</h5>
              <p class="card-text">Monkey Island 2 es un juego de aventura (point and click) desarrollado por LucasArts y distribuido por LucasArts para Amiga. La fecha de lanzamiento de este videojuego es el 10 de mayo de 1991.</p>
              <a href="#" class="btn btn-primary">Leer mas</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{%static 'AppJuegos/assets/monkey island 2.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Monkey Island 2</h5>
              <p class="card-text">Monkey Island 2 es un juego de aventura (point and click) desarrollado por LucasArts y distribuido por LucasArts para Amiga. La fecha de lanzamiento de este videojuego es el 10 de mayo de 1991.</p>
              <a href="#" class="btn btn-primary">Leer mas</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{%static 'AppJuegos/assets/monkey island 2.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Monkey Island 2</h5>
              <p class="card-text">Monkey Island 2 es un juego de aventura (point and click) desarrollado por LucasArts y distribuido por LucasArts para Amiga. La fecha de lanzamiento de este videojuego es el 10 de mayo de 1991.</p>
              <a href="#" class="btn btn-primary">Leer mas</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{%static 'AppJuegos/assets/monkey island 2.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Monkey Island 2</h5>
              <p class="card-text">Monkey Island 2 es un juego de aventura (point and click) desarrollado por LucasArts y distribuido por LucasArts para Amiga. La fecha de lanzamiento de este videojuego es el 10 de mayo de 1991.</p>
              <a href="#" class="btn btn-primary">Leer mas</a>
            </div>
          </div>



 
    
{%endblock%}